<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- BitcoinLib settings start -->

      <!-- Shared RPC settings start -->
      <add key="RpcRequestTimeoutInSeconds" value="10" />
      <!-- Shared RPC settings end -->

      <!-- Bitcoin settings start -->
      <add key="Bitcoin_DaemonUrl" value="http://20.106.17.101:18332" />
      <add key="Bitcoin_DaemonUrl_Testnet" value="http://20.106.17.101:18332" />
      <!-- <add key="Bitcoin_WalletPassword" value="MyWalletPassword" /> -->
      <add key="Bitcoin_RpcUsername" value="drb" />
      <add key="Bitcoin_RpcPassword" value="drb" />
      <!-- Bitcoin settings end -->

    <!-- BitcoinLib settings end -->
  </appSettings>
</configuration>
